html
  background: $white
body
  margin: 0em
  padding: 0em
  color: $black
  font-size: $base_grid_size
  font-family: Apercu-Light
  -webkit-font-smoothing: antialiased
  font-variant-ligatures: none
  background-color: $white

header
  position: fixed
  display: inline-block
  z-index: 10
  transition: $animation_1x_duration

footer
  padding: 4em 0 4em 0
  background: $black
  color: $white

header, footer
  margin: 0
  padding: 0

@font-face
  font-family: Apercu-Light
  src: url(../fonts/Apercu-Light.otf)

@font-face
  font-family: Apercu-Bold
  src: url(../fonts/Apercu-Bold.otf)

@font-face
  font-family: Apercu-Regular
  src: url(../fonts/Apercu-Regular.otf)

@for $i from 1 through length($h_group)
  h#{$i}
    font-size: nth($h_group, $i) / 1.4
    font-weight: initial
    line-height: 1.3em
    margin: 0
    transition: $animation_1x_duration
    hyphens: none

h1, h2, h4
  font-family: Apercu-Bold
  a
    color: $black

p, ul li
  font-size: $p_font_size - 0.2
  font-family: Apercu-Light
  line-height: 2em
  transition: $animation_1x_duration

ul
  padding-left: 0
  li
    list-style-type: none

a
  color: $primary
  font-family: Apercu-Bold 
  text-decoration: none !important

*::selection
  background: $black

// MEDIA
//========================================================

@include media-breakpoint-up(sm)
  @for $i from 1 through length($h_group)
    h#{$i}
      font-size: nth($h_group, $i)

  ul li
    font-size: $p_font_size

  p
    font-size: $p_font_size
