.focus
  font-family: RationalText-SemiBold

.page-content
  margin: 10.5em 0 0 9em
  padding: $grid_05x_size*2 0 $grid_05x_size $grid_05x_size*2+1em
  transition: $animation_2x_duration

@include media-breakpoint-up(sm)

  .bloc-header
    display: flex
    align-items: center

  .page-content
    margin: 10.2em 0 0 9em
    padding: $grid_1x_size*2 0 $grid_1x_size $grid_1x_size*2+1em

@include media-breakpoint-up(md)

  .page-content
    margin: 9em 0 0 9em
    padding: 16vh 0 $grid_2x_size $grid_2x_size*2+1em