.block-logo
  width: $and_logo_size
  height: $and_logo_size
  background: url('../images/and_logo_1.png') no-repeat
  background-size: auto $and_logo_size
  background-position: 0 50%
  animation: and_logo_1 1.5s steps(17) infinite
  animation-play-state: paused
  &:hover
    animation-play-state: running

@keyframes and_logo_1
  from
    background-position: -0px
  to
    background-position: -($and_logo_size * 17)

.block-menu
  float: right
  text-align: right
  li
    display: block
    padding:  0 0 $grid_1x_size $grid_4x_size

.intro
  top: 15vh
  position: absolute
  left: 0
  right: 0

.block-home_project
  margin: 80vh auto 0 auto
  max-width: 1140px
  .col-sm
    padding: 0

@include media-breakpoint-up(sm)
  .block-menu
    li
      display: inline-block
      padding:  $grid_2x_size 0 $grid_1x_size $grid_4x_size