.block-logo
  width: $and_logo_size
  height: $and_logo_size
  background: url('../images/and_logo_1.png') no-repeat
  background-size: auto $and_logo_size
  background-position: 0 50%
  animation: and_logo_1 1.5s steps(17) infinite
  animation-play-state: paused
  &:hover
    animation-play-state: running

@keyframes and_logo_1
  from
    background-position: -0px
  to
    background-position: -($and_logo_size * 17)

.block-menu
  float: right
  text-align: right
  li
    letter-spacing: .15em
    display: block
    padding:  0 0 $grid_1x_size $grid_4x_size

.author
  position: absolute
  margin-top: 12em
  margin-left: -8.2em
  font-size: $p_font_size
  transform: rotate(-90deg)
  letter-spacing: 0.15em

.intro
  top: 15vh
  position: absolute
  left: 0
  right: 0
  padding-left: 9em

.words
  position: relative
  display: inline-block

//______________________VIGNETTES______________________//

.word2:after, .word2:hover:after
  content: ""
  background: url('../images/surligneur-closed.png') center no-repeat
  background-size: 0.5em 1em
  width: 1em
  height: 1em
  margin-left: -0.5em
  display: inline-block

.word2:hover:after
  content: ""
  background: url('../images/surligneur-open.png') center no-repeat
  background-size: 0.5em 1em
  width: 1em
  height: 1em
  margin-left: -0.5em
  display: inline-block

.word8:after
  content: ""
  background: url('../images/web.png') center no-repeat
  background-size: 1.2em 1em
  width: 1.2em
  height: 1em
  margin-left: -0.3em
  display: inline-block

.word10:after
  content: ""
  background: url('../images/print.png') center no-repeat
  background-size: 0.5em 1em
  width: 1em
  height: 1em
  margin-left: -0.3em
  display: inline-block

@include media-breakpoint-up(sm)
  .block-menu
    li
      display: inline-block
      padding:  $grid_2x_size 0 $grid_1x_size $grid_4x_size