---
layout: layout_article

title: Création typographique
date: 2018-06-29
tags: typographie, print, visual identity
heading_image: images/typographie_1.jpg
resume: Que ce soit pour les besoins d'une identité visuelle ou simplement pour le plaisir, nous adorons créer de nouvelles typographies et les voir prendre vie dans nos projets.
author: Chloé
---

p Que ce soit pour les besoins d'une identité visuelle ou simplement pour le plaisir, nous adorons créer de nouvelles typographies et les voir prendre vie dans nos projets. Le dessin de caractères est un processus long qui demande beaucoup de minutie et un oeil aiguisé. C'est en suivant les cours de Thierry Ballmer, typographe Suisse, que nous est venue l'envie de concevoir nos propres typographies. 

img.journal-article__img src="images/typographie_2.jpg" alt="typographie"

p La dernière en date est une typographie créée par Jonathan. Légèrement oblique, avec des empattements droits, cette font est inspirée de typos type typewritter avec une vision plus fluide et contemporaine.

img.journal-article__img src="images/typographie_3.jpg" alt="typographie"
img.journal-article__img src="images/typographie_4.jpg" alt="typographie"