---
layout: layout_article

title: Création typographique
date: 2018-06-29
tags: typographie, print, identité visuelle
heading_image: journal/images/typographie_1.jpg
resume: Que ce soit pour les besoins d'une identité visuelle ou simplement pour le plaisir, nous adorons créer de nouvelles typographies et les voir prendre vie dans nos projets.
author: Chloé
---

p.column__p Que ce soit pour les besoins d'une identité visuelle ou simplement pour le plaisir, nous adorons créer de nouvelles typographies et les voir prendre vie dans nos projets. Le dessin de caractères est un processus long qui demande beaucoup de minutie et un oeil aiguisé. C'est en suivant les cours de Thierry Ballmer, typographe Suisse, que nous est venue l'envie de concevoir nos propres typographies.

img.column__img.column__img--article src="journal/images/typographie_2.jpg" alt="typographie"

p.column__p Cette typographie a été construite au fur et à mesure, en famille. C'est-à-dire que nous n'avons pas dessiné les lettres les unes après les autres, mais toutes en même temps. Pour l'instant, cette méthode nous semble porter ses fruits : cela nous a permis de créer rapidement une homogénéité entre les lettres.
p.column__p Les empattements droits et arrondis repris des typewritter et la forme légerement oblique apporte une lecture résoluement positive. Le dessin reste, quant à lui, fluide et sans artifices.
p.column__p Au niveau des courbes et des espacements par contre, nous avons encore pas mal de travail ! On vous conseil par exemple de ne pas rester trop longtemps fixé sur le "g" minuscule, un glyphe qui pour l'instant ne fait pas vraiment honneur à cette lettre. On se retrouve dans quelques semaines pour (peut-être) une version finale ?

img.column__img.column__img--article src="journal/images/typographie_3.jpg" alt="typographie"
img.column__img.column__img--article src="journal/images/typographie_4.jpg" alt="typographie"
img.column__img.column__img--article src="journal/images/typographie_5.jpg" alt="typographie"

.fb-share-button data-href="http://chloejonathanstudio.com/journal-2018-06-typographie_2018" data-layout="button" data-size="small" data-mobile-iframe="true"
	a.fb-xfbml-parse-ignore target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fchloejonathanstudio.com%2Fjournal-2018-06-typographie_2018&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore" Partager sur Facebook
