---
layout: layout_article
published: false
title: Une nouvelle collaboration avec les Éditions Geuthner
date: 2019-03-15
tags: graphisme, edition
heading_image: journal/images/editions-geuthner_1.jpg
resume: Depuis fin 2018, nous collaborons avec les éditions Geuthner sur le design des couvertures de leurs ouvrages.
author: Chloé Heinis
---

p.column__p--article Depuis fin 2018 nous avons le plaisir de collaborer avec les Éditions Geuthner pour le design de leurs nouveaux ouvrages. Cette maison d'édition, fondée en 1901, est spécialisée dans les ouvrages concernant le Proche-Orient, le Moyen-Orient et l’Extrême-Orient. Elle participe largement à la diffusion de la connaissance et des cultures du monde. 

p.column__p--article Nous avons déjà travaillé sur plusieurs éditions et attendons avec impatience les prochaines !  

img.column__img.column__img--article src="journal/images/editions-geuthner_2.jpg" alt="éditions geuthner"
p.column__p image : Séance de présentation de l'ouvrage sur le Paon dans les religions.




.share
    a.facebookShareLink Partager sur Facebook
    a.linkedinShareLink href="https://www.linkedin.com/shareArticle?mini=true&url=http://chloejonathanstudio.com/journal-#{File.basename(__FILE__, ".html.slim")}&source=Chloé%20et%20Jonathan%20Studio" Partager sur Linkedin
