---
layout: layout_article
published: true
title: L’importance de l’identité visuelle
date: 2018-08-29
tags: identité visuelle, logo, branding
heading_image: journal/images/identites-visuelles_1.gif
resume: Lorsque l’on crée une entreprise ou une marque on a tendance à se focaliser sur la création d’un logo, alors que la création d'une identité visuelle est tout aussi capitale. Elle permettra d'avoir une image de marque cohérente sur tous les supports de communication.
author: Jonathan Kleinpeter
---
p.column__p image : extrait de l'imagerie de la nouvelle identité de l'université de Strasbourg

p.column__p Lorsque l’on crée une entreprise ou une marque on a tendance à se focaliser sur la création d’un logo. En effet, l’idée que celui-ci doit être au centre de l’image de marque ne date pas d’hier : dès le début du XXe siècle on ne jure que par lui. Les identités visuelles des entreprises sont alors majoritairement sous la bannière d’un logo. Il est un symbole fort, qui sert à se démarquer d’une concurrence naissante et qui résiste au temps et aux modes. Son but est de regrouper toute la complexité d’une entreprise dans un seul signe pour en simplifier la compréhension du consommateur.

p.column__p Prenons l’exemple du logo Coca Cola. Celui-ci a très peu évolué depuis les années 1900 ; Coca Cola fait partie de ces entreprises qui ont une image basée essentiellement sur un logo.
img.column__img.column__img--article src="journal/images/identites-visuelles_2.jpg" alt="logo Coca Cola"
p.column__p source : 1000logos.net

p.column__p C’est pour cela qu'encore aujourd’hui beaucoup de personnes se focalisent sur le logo et en oublie l’importance de définir une identité visuelle en parallèle. <br />Alors, qu’entendons nous par identité visuelle ? C’est un ensemble de codes graphiques qui, une fois décliné sur les différents supports de communication, va constituer l’image de la marque.

p.column__p L’identité visuelle peut ainsi occuper une importance plus ou moins grande dans l’image de marque. Par exemple la marque Apple met clairement le logo au centre de son image. Néanmoins l'identité visuelle est tout de même travaillée et cohérente : une typographie linéale, des visuels minimalistes, des compositions aérées, des couleurs assez sobres… C’est bien tous ces codes qui donnent à la marque son image haut de gamme et qualitative.

p.column__p Depuis les années 70, une nouvelle vision de l’identité visuelle se développe, moins centrée sur le logo. Avec la mondialisation, les entreprises sont devenues des entités plus complexes dans un réseau plus large. Aussi, elles ont besoin de montrer ce qui les différencie, et ce, de manière plus étendue. 

p.column__p Nous pouvons prendre l’exemple de l’identité visuelle créé par Ruedi Baur pour l’université de Strasbourg en 2016 : <a href="https://langagevisuel.unistra.fr/index.php?id=2">langagevisuel.unistra.fr</a> 
img.column__img.column__img--article src="journal/images/identites-visuelles_3.jpg" alt="identité visuelle Université de Strasbourg"
p.column__p Celle-ci met davantage en avant les outils graphiques que le logo. Cela vise à créer un ensemble riche mais cohérent, témoin de toute la diversité de l’université. 

p.column__p Donc que vous optiez pour une image centrée sur le logo ou plutôt sur un ensemble de signes graphiques, l’identité visuelle est capitale. Aussi il est important de ne pas la négliger, et ce dès la création de l’entreprise. 

p.column__p.column__p--headline “Design is the silent ambassador of your brand.”  Paul Rand 


.share
    a.facebookShareLink Partager sur Facebook
    a.linkedinShareLink href="https://www.linkedin.com/shareArticle?mini=true&url=http://chloeheinis.fr/journal-#{File.basename(__FILE__, ".slim")}&source=Chloé%20Heinis" Partager sur Linkedin
