---
layout: layout_article
published: true
title: Proposition de logo pour un atelier d'architecture
date: 2019-12-30
tags: graphisme, branding, logo
heading_image: journal/images/logo-atelierdeslieux_1.jpg
resume: 
author: Chloé Heinis
---

p.column__p--article L'atelier des lieux, spécialisé en architecture et ingénierie environnementale avait besoin d'une nouvelle identité. Le logo proposé est une construction basée sur des formes très simples, à la fois impactantes et élégantes. 


img.column__img.column__img--article src="journal/images/logo-atelierdeslieux_7.jpg" alt="logo"
img.column__img.column__img--article src="journal/images/logo-atelierdeslieux_2.jpg" alt="logo"
img.column__img.column__img--article src="journal/images/logo-atelierdeslieux_6.jpg" alt="logo"
img.column__img.column__img--article src="journal/images/logo-atelierdeslieux_5.jpg" alt="logo"

p.column__p--article Cette proposition n'a pas été retenue.  




.share
    a.facebookShareLink Partager sur Facebook
