---
layout: layout_article
published: true
title: Fresque illustrée pour l'événement "Paris de l'avenir"
date: 2019-06-11
tags: illustration
heading_image: journal/images/fresque-climat_1.jpg
resume: Dans le cadre de cet événement l'agence parisienne du climat a organisé un quizz sur les bords de Seine. 
author: Chloé Heinis
---

p.column__p Crédits photo : Agence Parisienne du climat
p.column__p
p.column__p L'Agence Parisienne du climat a participé à l'événement "Paris de l'avenir" sur l'esplanade de l'Hôtel de Ville les 25 et 26 mai derniers. Elle a organisé un quiz sur les bords de Seine ayant comme support cette fresque du climat. Le but pour les joueurs est d'y placer des cartes représentant les causes et conséquences des changements climatiques.

img.column__img.column__img--article src="journal/images/fresque-climat_2.jpg" alt="illustration volontaires du climat"

img.column__img.column__img--article src="journal/images/fresque-climat_3.jpg" alt="illustration volontaires du climat"

img.column__img.column__img--article src="journal/images/fresque-climat_4.jpg" alt="illustration volontaires du climat"


.share
    a.facebookShareLink Partager sur Facebook
