---
layout: layout_article
title: Graphisme et travail spéculatif
date: 2018-08-14
tags: graphisme, logo
heading_image: journal/images/travail-speculatif_1.jpg
resume: Le travail spéculatif est une pratique malheureusement trop présente dans le domaine du graphisme. J'ai essayé de la comprendre un peu mieux en participant à un concours sur une plateforme de crowdsourcing.
author: Chloé Heinis
---

p.column__p--article Avant de commencer cet article, voici une petite introduction vidéo de Zulu Alpha Kilo à ce qu’est le travail spéculatif ou crowdsourcing. 
<iframe width="560" height="315" src="https://www.youtube.com/embed/essNmNOrQto" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


p.column__p--article Cela vous paraît absurde ? et pourtant c’est une pratique qui est beaucoup trop présente dans le domaine du graphisme. De nombreuses plateformes proposent aux clients de fixer eux-même leur prix, ce qui forcément les tire vers le bas et <strong>dévalorise le métier et l’expertise</strong>. Ils demandent ensuite à toute une armée de graphistes de faire des propositions de design. C’est dans l’espoir que peut être parmi les nombreux designs présentés, le leur soit retenu par le client, que certains graphistes acceptent de participer.
 
h4 Le test d'un site de crowdsourcing

p.column__p--article J'ai voulu tester une de ces plateformes et ai participé à un concours pour me rendre vraiment compte de la situation. Il s’agissait d’un concours pour créer <strong>l’identité d’une marque de miel,</strong> avec un prix fixé à 500 euros. Ce prix, bien que dérisoire à la vue du travail à fournir, est bien supérieur à la moyenne des prix sur ce genre de plateforme (entre 150 et 300€ selon <a class="visual-link" href="https://www.lafabriquedunet.fr/creation-site-vitrine/articles/cout-creation-logo-zoom/">lafabriquedunet.fr</a> ). Le brief était <strong>très succinct</strong> sans vraiment de moyen de communiquer directement avec le client avant de soumettre un design. <br />J'ai ainsi choisi un axe pour le design, en prenant soin d’écrire un petit mot justifiant mes choix et en incitant le client à revenir vers moi pour en discuter. 

img.column__img.column__img--article src="journal/images/travail-speculatif_2.jpg" alt="travail spéculatif"

p.column__p--article Lorsque j'ai envoyé la proposition, le concours indiquait 12 jours restants avant la fin du concours. Quelques jours plus tard, toujours pas de réponse ou de retour du commanditaire. <strong>Lorsqu'on a pour habitude de rencontrer ses clients et de les accompagner tout au long de leur projet, cette manière de faire est forcément déstabilisante.</strong><br />Au bout des 12 jours, j'ai constaté que la durée du concours avait été rallongée de 30 jours. 

p.column__p--article C’est alors que je me suis renseignée un peu plus sur les conditions de ce site. J'ai alors découvert qu’en plus de proposer des tarifs relativement bas, le site propose l’envoi des fichiers sources sans surcoût. 

.article-framed
	p.column__p.article-framed-text Le prix d’un logo varie selon de nombreux facteurs : les contraintes imposées par le cahier des charges, le délai accordé, les recherches thématiques et concurrentielles, le nombre de propositions à présenter, le nombre de phases de retours acceptées, l’intégration ou non d’une réflexion complémentaire pour l’identité visuelle, les cessions de droits , l’envoi ou non des fichiers sources (prix : entre 0,5 et 2,5 fois le prix du logo), ...
	p.column__p.article-framed-text C'est en tenant compte de tous ces éléments que le designer graphique peut définir le prix d'un logo pour un client donné.

p.column__p--article Bref, suite à cette découverte, j'ai évidemment supprimé le design du site avant la fin du concours.

h4 Le bilan

p.column__p--article A ce jour, le commanditaire a obtenu 142 propositions de design. Cependant malgré toutes ces propositions, le prix de 519 euros n'est pas garanti, c'est à dire que si le client le décide, il n'est ni obligé de choisir un gagnant ni de le payer. Ce serait donc 142 designs faits pour rien.

p.column__p--article Même si ces plateformes peuvent paraître alléchantes par les prix et l'apparente simplicité qu’elles proposent, <strong>je ne peux que conseiller aux clients de les éviter.</strong> En effet, en choisissant de travailler plutôt avec un freelance ou un studio de design graphique, vous aurez une <strong>relation privilégiée</strong> avec votre interlocuteur qui pourra prendre le temps de réellement comprendre votre entreprise et vos besoins et proposer un <strong>logo de qualité,</strong> en adéquation avec vos valeurs. 	
p.column__p--bold Si vous souhaitez en savoir plus, voici quelques liens qui traitent du travail spéculatif :  
ul.article-list
	li Une <a class="visual-link" href="https://youtu.be/WJhIxCl-XRI">vidéo de Joan Haegele</a> à destination des freelance et qui traite de ce sujet 
	li Des <a class="visual-link" href="https://www.lemonde.fr/campus/article/2017/05/04/des-etudiants-font-campagne-contre-le-travail-gratuit-dans-le-secteur-de-la-pub-et-de-la-com_5122092_4401467">affiches</a> réalisées par des étudiants pour « Mon dernier concours gratuit. », organisé par le Club des directeurs artistiques (CDA)
	li <a class="visual-link" href="http://competitionremuneration.metiers-graphiques.fr/">Compétition = rémunération,</a> une initiative visant à communiquer pour réduire le travail gratuit  


.share
    a.facebookShareLink Partager sur Facebook
    a.linkedinShareLink href="https://www.linkedin.com/shareArticle?mini=true&url=http://chloejonathanstudio.com/journal-#{File.basename(__FILE__, ".slim")}&source=Chloé%20et%20Jonathan%20Studio" Partager sur Linkedin
