---
layout: layout_article
published: true
title: Un nouveau site pour Vidal patrimoine
date: 2020-10-01
tags: graphisme, webdesign, UI
heading_image: journal/images/vidal-patrimoine_1.jpg
resume: Avec une identité graphique plus minimaliste et élégant.
author: Chloé Heinis
---

p.column__p--article Vidal est un cabinet de conseil en gestion de patrimoine basé à Toulouse. Ce nouveau site, réalisé en collaboration avec l'agence Kwalt, se dote d'une identité plus cohérente avec les valeurs de l'entreprise.    

video src="journal/images/vidal-patrimoine_4.mp4" type="video/mp4" autoplay="autoplay" muted="muted" loop="loop"
img.column__img.column__img--article src="journal/images/vidal-patrimoine_2.jpg" alt="vidal patrimoine"
img.column__img.column__img--article src="journal/images/vidal-patrimoine_3.jpg" alt="vidal patrimoine"



.share
    a.facebookShareLink Partager sur Facebook
