---
layout: layout_article
published: true
title: Série d'illustrations pour les volontaires du climat
date: 2019-11-10
tags: illustration
heading_image: journal/images/volontaires-climat_1.png
resume: Création de petites scénettes illustrées pour le guide des volontaires du climat réalisé par l'agence parisienne du climat. 
author: Chloé Heinis
---

p.column__p L'agence Parisienne du climat accompagne l'initiative des volontaires du climat, lancée par la Ville de Paris. Ce guide illustré a été conçu pour aider les volontaires à comprendre le changement climatique, agir au quotidien et sensibiliser les acteurs autour d'eux.   

img.column__img.column__img--article src="journal/images/volontaires-climat_3.png" alt="illustration volontaires du climat"

img.column__img.column__img--article src="journal/images/volontaires-climat_5.png" alt="illustration volontaires du climat"

img.column__img.column__img--article src="journal/images/volontaires-climat_4.png" alt="illustration volontaires du climat"


.share
    a.facebookShareLink Partager sur Facebook
