---
layout: layout_article
published: true
title: La collection des magazines pour Michael & Giso s'agrandit !
date: 2020-05-14
tags: graphisme, edition, magazine
heading_image: journal/images/wedding-magazine_1.jpg
resume: Un aperçu du nouveau magazine pour Michael & Giso weddings.
author: Chloé Heinis
---

p.column__p--article Tout juste arrivé dans ma boite aux lettres, voici un petit aperçu du dernier exemplaire de la collection des "wedding magazines" de Michael & Giso. 

img.column__img.column__img--article src="journal/images/wedding-magazine_2.jpg" alt="wedding magazine"
img.column__img.column__img--article src="journal/images/wedding-magazine_3.jpg" alt="wedding magazine"
img.column__img.column__img--article src="journal/images/wedding-magazine_4.jpg" alt="wedding magazine"
img.column__img.column__img--article src="journal/images/wedding-magazine_5.jpg" alt="wedding magazine"




.share
    a.facebookShareLink Partager sur Facebook
