<files .htaccess>
order allow,deny
deny from all
</files>

RewriteEngine On
Options -MultiViews

#redirect 2020
redirect 301 /index https://chloeheinis.fr
redirect 301 /hotelappz https://chloeheinis.fr
redirect 301 /weddingmagazine2018 https://chloeheinis.fr/michaelgiso
redirect 301 /water-bloom https://chloeheinis.fr/waterbloom
redirect 301 /groom-stories https://chloeheinis.fr/michaelgiso
redirect 301 /coachcopro https://chloeheinis.fr/work
redirect 301 /journal https://chloeheinis.fr/michaelgiso
redirect 301 /universcience https://chloeheinis.fr/work
redirect 301 /fongecif https://chloeheinis.fr/work
redirect 301 /michael-giso https://chloeheinis.fr/michaelgiso
redirect 301 /trophees https://chloeheinis.fr/work
redirect 301 /cartes-voeux https://chloeheinis.fr/work
redirect 301 /baticopro https://chloeheinis.fr/work
redirect 301 /orthodontist https://chloeheinis.fr/work
redirect 301 /nomad https://chloeheinis.fr/work
redirect 301 /wedding-magazine https://chloeheinis.fr/michaelgiso
redirect 301 /memoire https://chloeheinis.fr/work
redirect 301 /landing-pages https://chloeheinis.fr/work
redirect 301 /disparaitre-ici https://chloeheinis.fr/disappear
redirect 301 /rencontres-choregraphiques https://chloeheinis.fr/work
redirect 301 /batiactu-conferences https://chloeheinis.fr/work
redirect 301 /affiches https://chloeheinis.fr/work
redirect 301 /cadavre-exquis https://chloeheinis.fr/work
redirect 301 /construcom https://chloeheinis.fr/work
redirect 301 /infographie-deco https://chloeheinis.fr/work
redirect 301 /termes-et-conditions https://chloeheinis.fr/terms
redirect 301 /mentions-legales https://chloeheinis.fr/legal
