<files .htaccess>
order allow,deny
deny from all
</files>

RewriteEngine On
Options -MultiViews

#redirect 2020
redirect 301 /index https://chloeheinis.fr
redirect 301 /hotelappz.html https://chloeheinis.fr
redirect 301 /weddingmagazine2018.html https://chloeheinis.fr/michaelgiso.html
redirect 301 /water-bloom.html https://chloeheinis.fr/waterbloom.html
redirect 301 /groom-stories.html https://chloeheinis.fr/michaelgiso.html
redirect 301 /coachcopro.html https://chloeheinis.fr/work.html
redirect 301 /journal.html https://chloeheinis.fr/michaelgiso.html
redirect 301 /universcience.html https://chloeheinis.fr/work.html
redirect 301 /fongecif.html https://chloeheinis.fr/work.html
redirect 301 /michael-giso.html https://chloeheinis.fr/michaelgiso.html
redirect 301 /trophees.html https://chloeheinis.fr/work.html
redirect 301 /cartes-voeux.html https://chloeheinis.fr/work.html
redirect 301 /baticopro.html https://chloeheinis.fr/work.html
redirect 301 /orthodontist.html https://chloeheinis.fr/work.html
redirect 301 /nomad.html https://chloeheinis.fr/work.html
redirect 301 /wedding-magazine.html https://chloeheinis.fr/michaelgiso.html
redirect 301 /memoire.html https://chloeheinis.fr/work.html
redirect 301 /landing-pages.html https://chloeheinis.fr/work.html
redirect 301 /disparaitre-ici.html https://chloeheinis.fr/disappear.html
redirect 301 /rencontres-choregraphiques.html https://chloeheinis.fr/work.html
redirect 301 /batiactu-conferences.html https://chloeheinis.fr/work.html
redirect 301 /affiches.html https://chloeheinis.fr/work.html
redirect 301 /cadavre-exquis.html https://chloeheinis.fr/work.html
redirect 301 /construcom.html https://chloeheinis.fr/work.html
redirect 301 /infographie-deco.html https://chloeheinis.fr/work.html
redirect 301 /termes-et-conditions.html https://chloeheinis.fr/terms.html
redirect 301 /mentions-legales.html https://chloeheinis.fr/legal.html
